<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">

</head>
<!-- oncopy="return false" onpaste="return false" -->
<body >
	<header th:replace="layout/layout2 :: header"></header>
<div th:replace="layout/layout2 :: mensajesinf"></div>

	<!--inicio Container principal -->


	<div class="container bg-light mt-4 py-5">
		<form th:action="@{/escuelas/form}"th:object="${escuela}"  method="post">
		
		<input type="hidden" th:field="*{id_escuela}" />
			<!--Inicio nombre de la escuela-->
			<div class="form-group col-sm-12">
				<label> Nombre de la escuela: </label> <input class="form-control"
					type="text" th:field="*{nombre_escuela}" required maxlength="45" />
			</div>
			<!--nombre de la escuela fin-->
			<!--Inicio clave de la escuela y tutno-->
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Clave de la escuela: </label> <input class="form-control"
							type="text" th:field="*{claveescuela}" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Tipo: </label> <select class="form-control"
							th:field="*{tipo}">
							<option value="Primaria">Primaria</option>
							<option value="Secundaria">Secundaria</option>
						</select>
					</div>
				</div>
			</div>
			<!--Fin clave de la escuela y turno-->
			<!--Inicio telefono y turno-->
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Telefono de la escuela: </label> <input
							class="form-control" type="number" th:field="*{telefono}" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Turno: </label> <select class="form-control"
							th:field="*{turno}">
							<option value="Matutino">Matutino</option>
							<option value="Vespertino">Vespertino</option>
						</select>
					</div>
				</div>
			</div>
			<!--fin telefono y turno-->
			<!--Inicio nombre del direcctor-->
			<div class="row py-5">
				<div class="col-sm-4">
					<div class="form-group">
						<label> Nombre del director: </label> <input class="form-control"
							type="text" th:field="*{nombre_dir}" required/>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label> Apellido parteno: </label> <input class="form-control"
							type="text" th:field="*{apellido_pdir}" required/>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label> Apellido materno: </label> <input class="form-control"
							type="text" th:field="*{apellido_mdir}" required/>
					</div>
				</div>
			</div>
			<!--Fin nombre del director-->
			<!---Inicio direccion( region , municipio, calle y direccion)---->
			<div class="row py-5">
				<div class="col-sm-3">
					<div class="form-group">
						<label> Region: </label> <select name="region" id="region"
							class="form-control">
							<option value="1">Acapulco</option>
							<option value="2">Costa Chica</option>
							<option value="3">Costa Grande</option>
							<option value="4">Centro</option>
							<option value="5">La Montaña</option>
							<option value="6">Norte</option>
							<option value="7">Tierra Caliente</option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label> Municipios: </label>
						<div id="cambio" name="cambio">
						
							<select id="municipio" name="municipio" class="form-control">
								<option value="1">Acapulco</option>
							</select>
						</div>

					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label> Calle: </label> <input th:field="*{direccion.calle}"
							class="form-control" type="text" required />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label> Numero: </label> <input class="form-control" th:field="*{direccion.numero}" type="number"  required  />
					</div>
				</div>
			</div>
			<!---Fin direccion( region , municipio, calle y direccion)---->
			<!--Botones cancelar y guardar-->
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<a class="btn btn-info btn-block" th:href="@{/escuelas/listar}"> Cancelar </a>
				</div>
				<div class="col-sm-3">
					<input class="btn btn-info btn-block"  type="submit"
						value="Gaurdar Cambios" />
				</div>
				<div class="col-sm-3"></div>
			</div>
			<!--Fin botons cancelar guardar-->
		</form>
	</div>
	<!-- Fin container principal -->



	<footer th:replace="layout/layout2 :: footer"></footer>
	<div th:replace="layout/layout2 :: js"></div>
	<script th:replace="escuelas/js/autocompletemunicipios :: javascript"></script>

</body>
</html>