<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">
</head>
<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div th:replace="layout/layout2 :: mensajesinf"></div>
	<div class="container py-4">
		<div class="row">
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
				<a th:href="@{/escuelas/form}" class="btn btn-info btn-block">Agregar
					Escuela</a>
			</div>

		</div>
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<table class="table table-light">
					<thead>
						<tr>
							<th>Clave</th>
							<th>Escuela</th>
							<th>Region</th>
							<th>Telefono</th>

							<th>Editar</th>

							<th>Eliminar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="escuela: ${escuelas}">

							<td th:text="${escuela.claveescuela}"></td>
							<td th:text="${escuela.nombre_escuela}"></td>
							<td th:text="${escuela.direccion.municipio.region.region}"></td>
							<td th:text="${escuela.telefono}"></td>
							



							<td><a href="#" class="btn btn-info">Editar</a> <!--  
							<a class="btn btn-xs btn-primary"
								th:href="@{/escuelas/form}+${escuela.clave}" th:text="'Editar'"></a> -->
							</td>
							<td><a
								th:href="@{/escuelas/eliminar/}+${escuela.id_escuela}"
								class="btn"
								onclick="return confirm('El registro se eliminara permanentemente\n¿Estas seguro que quieres eliminar la escuela?')">
									<i class="fas fa-trash-alt fa-lg"> </i>

							</a> <!-- <a class="btn btn-xs btn-danger"
								th:href="@{/escuelas/eliminar/}+${escuela.claveescuela}"
								th:text="'Eliminar'"
								onclick="return confirm('El registro se eliminara permanentemente\n¿Estas seguro que quieres eliminar la escuela?')"></a>-->
							</td>
						</tr>


					</tbody>
				</table>
				<nav th:replace="layout/Paginator-nav :: paginator"></nav>
			</div>
		</div>




	</div>

	<footer th:replace="layout/layout2 :: footer"></footer>
	<div th:replace="layout/layout2 :: js"></div>
</body>
</html>