<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout2 :: head">

</head>
<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div th:replace="layout/layout2 :: mensajesinf"></div>

	<div class="container py-4">
		<div class="row py-5">
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
				<a th:href="@{/socios/form/}+${id}" class="btn btn-info btn-block">Agregar
					Socio</a>
			</div>

		</div>
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<table class="table table-light">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Grado</th>
							<th>Grupo</th>
							<th>Titular</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="socio : ${socioss}">
							<td
								th:text="${socio.nombre+' '+socio.apellido_p+' '+socio.apellido_m}"></td>
							<td th:text="${socio.grado}"></td>
							<td th:text="${socio.grupo}"></td>
							<td th:text="${socio.titular}"></td>
							<td><a th:href="@{/socios/editar/}+${socio.id_socio}"
								class="btn btn-info">Editar</a></td>
							<td><a th:href="@{/socios/eliminar/}+${socio.id_socio}"
								class="btn"
								onclick="return confirm('El registro se eliminara permanentemente\n¿Estas seguro que quieres eliminar la escuela?')">
									<i class="fas fa-trash-alt fa-lg"> </i>
							</a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/Paginator-nav :: paginator"></nav>
			</div>
		</div>




	</div>


	<div class="container">
		<div class="row py-5">
			<div class="col-sm-3">
				<a class="btn btn-block btn-danger text-white">Regresar</a>
			</div>
			<div class="col-sm-3"></div>
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<a class="btn btn-block btn-info text-white" target="_blank" th:href="@{/1/socios-por-cooperativa/(format=pdf)}">Generar Reporte</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout2 :: footer"></footer>
	<div th:replace="layout/layout2 :: js"></div>
</body>
</html>