<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">
</head>
<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div th:replace="layout/layout2 :: mensajesinf"></div>

	<div class="container">
		<div class="card bg-light">
			<h3 class="card-title">Escuela</h3>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Escuela </b>
						</h5>
						<p class="card-text" th:text="${escuela.nombre_escuela}"></p>
					</div>
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Clave </b>
						</h5>
						<p class="card-text" th:text="${escuela.claveescuela}"></p>
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Tipo </b>
						</h5>
						<p class="card-text" th:text="${escuela.tipo}"></p>
					</div>
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Turno </b>
						</h5>
						<p class="card-text" th:text="${escuela.turno}"></p>
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Telefono </b>
						</h5>
						<p class="card-text" th:text="${escuela.telefono}"></p>
					</div>
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Direccion </b>
						</h5>
						<p class="card-text" th:text="${escuela.direccion}"></p>
					</div>
				</div>

				<!--row-->
				<div class="row">
					<div class="col-sm-6">
						<h5 class="card-title">
							<b> Director </b>
						</h5>
						<p class="card-text"
							th:text="${escuela.nombre_dir}+'  '+${escuela.apellido_pdir}+'  '+${escuela.apellido_mdir} ">

						</p>
					</div>
					<div class="col-sm-6 py-3">
						<button class="btn-info" hidden="true" >Editar datos de la escuela</button>
					</div>
				</div>

				<!--row-->
				<!--row-->
			</div>
		</div>
		<!-- Datos de la cooperativa -->

		<div class="py-5 card bg-light">
			<h4 class="card-title">Datos de la cooperativa</h4>
			<!-- inicio por si hay registro de cooperativa -->
			<div th:if="${escuela.cooperativa!=null}">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
							<h5 class="card-title">
								<b> Nombre </b>
							</h5>
							<p class="card-text"
								th:text="${escuela.cooperativa.nombre_cooperativa}"></p>
						</div>
						<div class="col-sm-3">
							<h5 class="card-title">
								<b> Tipo </b>
							</h5>
							<p class="card-text" th:text="${escuela.cooperativa.tipo}"></p>
						</div>
						<div class="col-sm-3">
							<h5 class="card-title">
								<b> Monto </b>
							</h5>
							<p class="card-text" th:text="${escuela.cooperativa.monto}"></p>
						</div>
						<div class="col-sm-3">
							<h5 class="card-title">
								<b> Fecha de registro </b>
							</h5>
							<p class="card-text"
								th:text="${escuela.cooperativa.fecha_registro}"></p>
						</div>
					</div>

					<!-- -->
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4 py-4"></div>
						<div class="col-sm-4 py-4">
							<a
								th:href="@{/cooperativas/eliminar/}+${escuela.cooperativa.clave_cooperatival}"
								class="btn btn-danger"
								onclick="return confirm('El registro se eliminara permanentemente\n ¿Estas seguro que quieres eliminar la escuela?')">
<!-- 								<i class="fas fa-trash-alt fa-lg"> </i> -->Eliminar

							</a>
							<a  class="btn btn-info"
					th:href="@{/cooperativas/editarCooperativa/}+${escuela.cooperativa.clave_cooperatival}">Editar
					cooperativa</a>
					<a class="btn btn-info"
					th:href="@{/socios/listar/}+${escuela.cooperativa.clave_cooperatival}+@{/}"
					>Ver socios</a>
						</div>
					</div>
				</div>
			</div>
			<!-- fin por si hay registro de cooperativa -->
			<!-- por si no hay registro de cooperativa -->
			<div class="py-2" th:if="${escuela.cooperativa==null}">
				<p class="card-text">
					<b>Aun no haz registrado alguna cooperativa</b>
				</p>
				<a href="#" class="btn btn-info"
					th:href="@{/cooperativas/registrarCooperativa/}+${escuela.id_escuela}">Registar
					cooperativa</a>

			</div>
			<!-- fin por si no hay registro de cooperativa -->
		</div>
	</div>


	<footer th:replace="layout/layout2 :: footer"></footer>
	<div th:replace="layout/layout2 :: js"></div>
</body>
</html>