<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<script type="text/javascript" th:fragment="js">
		$(document)
				.ready(
						function() {
							$("#cantidad").val("1");

							$("select")
									.change(
											function() {
												var elementtt = document
														.getElementById("asignatura.id_asignatura").value;
												if (elementtt == -1) {
													$("#exampleModal").modal();

													//$("#exampleModalll").modal();
												}
											});
						});
	</script>

</body>


</html>