<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout2 :: head"></head>

<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div class="container py-4">
		<div th:replace="layout/layout2 :: mensajesinf"></div>

		<!-- th:action="@{/usuarios/guardar}" -->
		<form th:action="@{/reparto-utilidades/guardar}" id="form_reparto"
			th:object="${reparto}" method="post">

			<div class="row">
				<div class="col-sm-12 text-center">
					<label class="h4"> Datos de la escuela </label>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="text-center h4"> Nombre de la escuela </label> <input
							class="form-control" type="text" id="nombre_escuela"
							name="nombre_escuela"
							th:value="${reparto.cooperativa.escuela.nombre_escuela}"
							readonly="readonly" />

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Clave de la escuela </label> <input class="form-control"
							type="text" id="claveescuela" name="claveescuela"
							th:value="${reparto.cooperativa.escuela.claveescuela}"
							readonly="readonly" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Tipo </label> <input type="text" readonly="readonly"
							class="form-control" id="tipo" name="tipo"
							th:value="${reparto.cooperativa.escuela.tipo}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Telefo </label> <input class="form-control" type="text"
							th:value="${reparto.cooperativa.escuela.telefono}" id="telefono"
							readonly="readonly" />
					</div>
				</div>

				<input type="text" readonly="readonly" id="id_coo" name="id_coo"
					th:value="${reparto.cooperativa.clave_cooperatival}" hidden="true"
					class="form-control" />
				<div class="col-sm-6">
					<div class="form-group">
						<label> Turno </label> <input type="text" id="turno"
							readonly="readonly"
							th:value="${reparto.cooperativa.escuela.turno}"
							class="form-control" />
					</div>
				</div>
			</div>






			<div class="row">
				<div class="col-sm-12 text-center">
					<label class="h4"> Datos de la cooperativa </label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label> Fecha de registro </label> <input type="text" id="turno"
							readonly="readonly"
							th:value="${reparto.cooperativa.fecha_registro}"
							class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label> Nombre </label> <input type="text" id="turno"
							readonly="readonly"
							th:value="${reparto.cooperativa.nombre_cooperativa}"
							class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label> Tipo </label> <input type="text" id="turno"
							readonly="readonly" th:value="${reparto.cooperativa.tipo}"
							class="form-control" />
					</div>
				</div>
			</div>
			<label class="h2 py-3 "> Reparto de utilidades </label>

			<div class="row bg-light">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Fondo Repartible </label> <input type="number"
							th:field="*{fondoRepartible}" class="form-control" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Numero De Socios </label> <input type="number"
							th:field="*{numeroSocios}" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row bg-light">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Cantidad Por socio </label> <input type="number"
							th:field="*{cantidadPorSocio}" class="form-control" />
					</div>
				</div>

				<input id="date" name="date" th:value="*{fechaRegistro}"
					class="form-control" hidden="true" readonly="readonly" type="text" />

				<input type="text" hidden="true" id="turno" readonly="readonly"
					th:field="*{id_reparto}" class="form-control" />
				<div class="col-sm-6"></div>
			</div>


			<div class="row bg-light">
				<div class="col-sm-3">
					<a th:href="@{/reparto-utilidades/}+${reparto.cooperativa.clave_cooperatival}+@{/listar/}" class="btn text-white btn-block btn-danger">Cancelar</a>
				</div>
				<div class="col-sm-3"></div>
				<div class="col-sm-3"></div>
				<div th:if="${reparto.fondoRepartible>0}" class="col-sm-3">
					<button class="btn text-white btn-block btn-info" type="submit">Guardar
						Cambios</button>
				</div>
				
				<div th:if="${reparto.fondoRepartible<1}" class="col-sm-3">
					<button class="btn text-white btn-block btn-info" type="submit">Registrar</button>
				</div>
			</div>
		</form>





	</div>


	<div th:replace="layout/layout2 :: js"></div>


	<script th:replace="/RepartoUtilidades/js/validaciones :: js"></script>
	<footer th:replace="layout/layout2 :: footer"></footer>
</body>
</html>