<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script type="text/javascript" th:fragment="js">
		$(document).ready(function() {

			$("#fondoRepartible").prop("required", true);
			$("#numeroSocios").prop("required", true);
			$("#cantidadPorSocio").prop("required", true);

			$("#fondoRepartible").keyup(function() {
				calcularPorSocio();
			});
			$("#numeroSocios").keyup(function() {
				calcularPorSocio();
			});

			//limitar valores de datos a enteros con punto decimal
			$('input[type=number]').numeric({
				negative : false,
				decimalPlaces : 2
			});
			
			
			/*
			$("#fondoRepartible").prop("required", true);
			$("#numeroSocios").prop("required", true);
			$("#cantidadPorSocio").prop("required", true);

			*/
			$('input[type=number]').prop("min", "1");
			//limitar tamano de inputs
			$("#fondoRepartible").inputlimiter({
				limit : 6,

				remText : '%n caractere%s restantes.',
				limitText : 'Campo limitado a %n caractere%s.'
			});
			$("#numeroSocios").inputlimiter({
				limit : 4,

				remText : '%n caractere%s restantes.',
				limitText : 'Campo limitado a %n caractere%s.'
			});
			$("#cantidadPorSocio").inputlimiter({
				limit : 3,

				remText : '%n caractere%s restantes.',
				limitText : 'Campo limitado a %n caractere%s.'
			});
		});

		function calcularPorSocio() {
			var fondo = $("#fondoRepartible").val();
			var numsocios = $("#numeroSocios").val();

			if (fondo > 0 && numsocios > 0) {
				var y = fondo / numsocios;
				$("#cantidadPorSocio").val(y.toFixed(2));
			}else{
				$("#cantidadPorSocio").val('');
			}

		}
	</script>
</body>
</html>