<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script type="text/javascript" th:fragment="javascript">
		var banderilla = false;
		var existeCorreo = false;
		$(document)
				.ready(

						function() {

							$("#rol_usser").click(function() {
								if (banderilla == false) {
									banderilla = true;
									$("#exampleModal").modal("show");
								}
							});

							$("#correo").keypress(function() {
								$('#correo').next('p').remove();
							});
							
							$("#btnregistrar")
							.click(
									function() {

										
										var correoNew = $("#correo")
												.val();

										if (correoNew == null) {
											$("#correo").focus();
											return false;
										} else {
											verificarCorreo(correoNew);

											
										}

									});
					

							$('#nombre').inputlimiter({
								limit : 20,
								minlength : 20,
								maxlength : 20,
								remText : '%n caractere%s restantes.',
								limitText : 'Campo limitado a %n caractere%s.'
							});
							$('#apellido_materno').inputlimiter({
								limit : 15,
								minlength : 15,
								maxlength : 15,
								remText : '%n caractere%s restantes.',
								limitText : 'Campo limitado a %n caractere%s.'
							});
							$('#apellido_paterno').inputlimiter({
								limit : 15,
								minlength : 15,
								maxlength : 15,
								remText : '%n caractere%s restantes.',
								limitText : 'Campo limitado a %n caractere%s.'
							});

							$("#form_usu").validate({
								rules : {

									nombre : {
										required : true

									},
									apellido_paterno : {
										required : true
									},
									correo : {
										required : true,
										email : true
									},
									apellido_materno : {
										required : true

									},
									contrasena : {
										

									},
									contrasena2 : {
										
										equalTo : "#contrasenaa"

									}
								}

							});

							$('#contrasena2').keyup(function() {
								comparaConstrasenas();
							});
							$('#calve').keyup(function() {
								var calUp = $('#calve').val().toUpperCase();
								$('#calve').val(calUp);

							});

							$("#calve").keypress(function() {
								$("div #errorr").prop("hidden", true);
							});

							$("#buscar")
									.click(
											function() {
												var clave = $("#calve").val();
												if (clave.length != 10) {
													$("#calve").focus();
													$("div #errorr")
															.removeAttr(
																	"hidden");
													$("div #errorr").show();
													$('#mensajeError')
															.html(
																	"Ingrese un clave de 10 caracteres");

													return false;
												}
												$("div #errorr").hide();

												$
														.ajax(
																{
																	method : "GET",
																	url : "/usuarios/cargarEscuela/"
																			+ clave,
																	dataType : "json",

																	cache : false
																})
														.done(
																function(msg) {
																	if (msg.id_escuela != null) {
																		//$().val();
																		$(
																				"#id_escuela")
																				.val(
																						msg.id_escuela);
																		$(
																				"#nombre_escuela")
																				.val(
																						msg.nombre_escuela);
																		$(
																				"#claveescuela")
																				.val(
																						msg.claveescuela);
																		$(
																				"#tipo")
																				.val(
																						msg.tipo);
																		$(
																				"#telefono")
																				.val(
																						msg.telefono);
																		$(
																				"#turno")
																				.val(
																						msg.turno);
																	} else {

																		$(
																				"div #errorr")
																				.removeAttr(
																						"hidden");
																		$(
																				"div #errorr")
																				.show();
																		$(
																				'#mensajeError')
																				.html(
																						"No se encontro la clave: "
																								+ clave);
																	}

																});
											});

						});

		function comparaConstrasenas() {
			var contra1 = $("#pcontrasena").val();
			var contra2 = $("#contrasena2").val();
			if (contra1 == contra2) {

				$("#contrasena2").css('border-color', '#FC200A');
			} else {
				$("#contrasena2").css('border-color', "#9FE8C6");
			}

		}
		function limpiarCampos() {
			$("#id_escuela").val('');
			$("#nombre_escuela").val('');
			$("#claveescuela").val('');
			$("#tipo").val('');
			$("#telefono").val('');
			$("#turno").val('');
		}

		function verificarCorreo(correoNew) {
			var idusuario=$("#id_usuario").val();
			//alert(idusuario);
			$
					.ajax({
						method : "GET",
						url : "/usuarios/buscarCorreo/" + correoNew,
						dataType : "json",

						cache : false
					})
					.done(
							function(msg) {
								if (msg.correo != null) {
									
									if(msg.id_usuario!=idusuario){
										
										$("#correo").focus();
										$('#correo').next('p').remove();
										$("#correo")
												.after(
														"<p id='mensaje' name='mensaje'class='text-danger'>Este correo ya esta registrado por otro usuario !!!</p>");
										
									}
									
									
									
								}else{
									document.getElementById('form_usu').submit();
								}
							}).fail(function(jqXHR, textStatus, errorThrown) {
						// Un callback .fail()
					});

		}
	</script>
</body>
</html>