

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout2 :: head">
</head>

<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div th:replace="layout/layout2 :: mensajesinf"></div>
	<div class="container py-4">
		<div class="row">
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
				<a th:href="@{/escuelas/form}" class="btn btn-info btn-block">Agregar
					Escuela</a>
			</div>

		</div>
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<table class="table table-light">
					<thead>
						<tr>
							<th>Cooperativa</th>
							<th>Fecha de registro del ingreso</th>
							<th>Periodo</th>
							<th>Ciclo escolar</th>
							<th>Detalle</th>
														<!-- <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th> -->
						</tr>
					</thead>

					<tbody>
						<tr th:each="escuela: ${ingresoss}">

							<td th:text="${escuela.cooperativa.nombre_cooperativa}"></td>
							<td th:text="${escuela.fecharegistro}"></td>
							<td th:text="${escuela.obtenerPeriodoEscolar()}"></td>
							<td th:text="${escuela.obtenerCicloEscolar()}"></td>
							<td> <a class="btn btn-info text-white">Detalle</a> </td>
							
							<!-- <td th:text="${escuela.nombre_escuela}"></td>
							<td th:text="${escuela.direccion.municipio.region.region}"></td>
							<td th:text="${escuela.direccion.municipio.municipio}"></td>
							<td th:text="${escuela.telefono}"></td>
 -->

						</tr>


					</tbody>
				</table>
				<nav th:replace="layout/Paginator-nav :: paginator"></nav>
			</div>
		</div>




	</div>

	<footer th:replace="layout/layout2 :: footer"></footer>
	<div th:replace="layout/layout2 :: js"></div>
</body>
</html>