<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout2 :: head">


</head>
<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div class="container">
		<div th:replace="layout/layout2 :: mensajesinf"></div>
		<div class="row bg-light">
			<div class="col-sm-6">
				<div class="form-group">
					<label> Clave de la escuela </label> <input class="form-control"
						type="text" id="calve" name="calve" maxlength="10" minlength="10" />
				</div>
				<div id="errorr" class="alert alert-danger" role="alert"
					hidden="true">
					<strong id="mensajeError"></strong>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group py-4">
					<button class="btn btn-info" id="buscar" name="buscar">Buscar
						Escuela</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container bg-light py-5">
		<form id="form_usu" th:action="@{/usuarios/guardar}"
			th:object="${usuario}" method="post">
			<div class="row">
				<div class="col-sm-12 text-center">
					<label class="h4"> Datos de la escuela </label>
				</div>
			</div>
			<input type="number" hidden="true" id="id_escuela" name="id_escuela"
				th:value="${escuela.id_escuela}" />
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="text-center h4"> Nombre de la escuela </label> <input
							class="form-control" type="text" id="nombre_escuela"
							name="nombre_escuela" th:value="${escuela.nombre_escuela}"
							readonly="readonly" />

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Clave de la escuela </label> <input class="form-control"
							type="text" id="claveescuela" name="claveescuela"
							th:value="${escuela.claveescuela}" readonly="readonly" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Tipo </label> <input type="text" readonly="readonly"
							class="form-control" id="tipo" name="tipo"
							th:value="${escuela.tipo}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Telefo </label> <input class="form-control" type="text"
							th:value="${telefono}" id="telefono" readonly="readonly" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Turno </label> <input type="text" id="turno"
							readonly="readonly" th:value="${turno}" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-sm-12 text-center">
					<label class="h4"> Datos del Usuario </label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label> Nombre </label> <input type="text" class="form-control"
							th:field="*{nombre}" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label> Apellido paterno </label> <input type="text"
							th:field="*{apellido_paterno}" class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label> Apellido materno </label> <input type="text"
							th:field="*{apellido_materno}" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Correo </label> <input type="email" class="form-control"
							th:field="*{correo}" />
					</div>
				</div>
				<div class="col-sm-6">
					<label> Tipo de usuario </label> <select class="form-control"
						id="rol_usser" name="rol_usser">
						<option value="ROLE_BIBLIOTECARIO">Bibliotecario</option>
						<option value="ROLE_TESORERO">Tesorero</option>
						<option sec:authorize="hasRole('ROLE_ADMIN')"
							value="ROLE_INVITADO">Invitado</option>
						<option sec:authorize="hasRole('ROLE_ADMIN')" value="ROLE_ADMIN">Admin</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label> Contraseña </label> <input type="password"
							class="form-control" th:field="*{contrasena}" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label> Confirme su Contraseña </label> <input type="password"
							class="form-control" id="contrasena2" name="contrasena2" />
					</div>
				</div>
			</div>
			<div class="row">


				<div class="col-sm-6" sec:authorize="hasRole('ROLE_ADMIN')">
					<div class="form-group">

		<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input" th:field="*{estado}"/>
     
    </div>
  </div>
  <label class="form-control" >Estado del usuario</label>
</div>
	</div>
						
					</div>
				</div>
				<div class="col-sm-6"></div>
			</div>
			<div class="row py-4">
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<a class="btn btn-danger text-white btn-block"> Cancelar </a>
				</div>
				<div class="col-sm-3">
					<button class="btn btn-block btn-info" id="btnregistrar" name="btnregistrar" type="submit">Registrar</button>

				</div>
				<div class="col-sm-3"></div>
			</div>
		</form>



		<!-- Modal de roles de usuario -->



		<div aria-labelledby="exampleModal" class="modal fade"
			id="exampleModal" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content bg-faded">
					<div class="modal-header  bg-info">

						<label class="modal-title text-center text-white" id="labell">
							LEA CUIDADOSAMENTE </label>

						<button aria-label="close" class="close" data-dismiss="modal"
							type="button">
							<span class="text-white" aria-hidden="true"> × </span>
						</button>
					</div>
					<div class="modal-body">
						<h5 class="text-justify">
							USTEDE DEBE SELECCIONARUN TIPO DE USUARIO ACORDE A LAS ACCIONES
							QUE HARA EN EL SISTEMA, SI USTED ESTARA A CARGO DE LAS ACCIONES
							DE COOPERATIVA DEBE SELECCIONAR <span>TESORERO</span> , SI USTED
							ESTARA A CARGO DE LAS ACCIONES DE BIBLIOTECA DEBE SELECCIONAR <span>BIBLIOTECARIO</span>
						</h5>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal"
							type="button">DE ACUERDO</button>

					</div>
				</div>
			</div>
		</div>

		<!-- Fin modal de roles de usuario -->


		<!-- Modal de roles de usuario -->



		<div aria-labelledby="exampleModal" class="modal fade"
			id="exampleModal2" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content bg-faded">
					<div class="modal-header  bg-info">

						<label class="modal-title text-center text-white" id="labell">
							LEA CUIDADOSAMENTE </label>

						<button aria-label="close" class="close" data-dismiss="modal"
							type="button">
							<span class="text-white" aria-hidden="true"> × </span>
						</button>
					</div>
					<div class="modal-body">
						<h5 class="text-justify">
							AL MOMENTO DE REGISTRARSE DEBE DE TENER SU CUENTA ASOCIADA A UNA
							ESCUELA, PUEDE BUSCARLA INGRESANDO SU <span>CLAVE DE LA
								ESCUELA</span> Y PULSAR EL BOTON <span>BUSCAR</span>
						</h5>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal"
							type="button">DE ACUERDO</button>

					</div>
				</div>
			</div>
		</div>

		<!-- Fin modal de roles de usuario -->

		<footer th:replace="layout/layout2 :: footer"></footer>
		<div th:replace="layout/layout2 :: js"></div>
		<script th:replace="Usuarios/js/validaciones :: javascript"></script>
</body>
</html>