<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout2 :: head"></head>
<body>
	<header th:replace="layout/layout2 :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<table class="table  table-hover">
					<thead>
						<tr>
							<th>Escuela</th>
							<th>Clave</th>
							<th>Nombre Usuario</th>
							<th>Correo</th>
							<th>Tipo de usuario</th>
							<th>Fecha de registro</th>
							<th>Detalle</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${usuaurios}">
							<td th:if="${cliente.escuela!=null}"
								th:text="${cliente.escuela.nombre_escuela}"></td>
							<td th:if="${cliente.escuela==null}"></td>
							<td th:if="${cliente.escuela!=null}"
								th:text="${cliente.escuela.claveescuela}"></td>
							<td th:if="${cliente.escuela==null}"></td>
							<td
								th:text="${cliente.nombre+' '+cliente.apellido_paterno+' '+cliente.apellido_materno}"></td>
							<td th:text="${cliente.correo}"></td>
							<td th:text="${cliente.obtenerRol()}"></td>
							<td th:text="${cliente.fecha_registro}"></td>
							<td><a class="btn btn-xs btn-primary"
								th:href="@{/usuarios/}+${cliente.id_usuario}+@{/editar-informacion}"
								th:text="'Editar'"></a></td>
							<td th:if="${cliente.obtenerRol()!='ADMIN'}"><a
								class="btn btn-xs btn-danger"
								th:href="@{/eliminar/}+${cliente.id_usuario}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar el cliente')"></a>
							</td>
							<td th:if="${cliente.obtenerRol()=='ADMIN'}"></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/Paginator-nav :: paginator"></nav>
			</div>
		</div>



	</div>
	<footer th:replace="layout/layout2 :: footer"></footer>
	<div th:replace="layout/layout2 :: js"></div>
</body>
</html>